<!DOCTYPE html>
<html ng-app="ezies">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Simple Map">
  <meta name="keywords" content="ng-map,AngularJS,center">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Ezies</title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="angular-toastr/dist/angular-toastr.css">
  <link rel="stylesheet" href="stylesheets/style.css">



</head>

<body>
  <div class="container" style="background-color: #8c8c8c;">
    <div class="webHead">
      <nav class="navbar navbar-default" ng-controller="ManagerController as mc">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img id="logo" src="images/logo.png" width="200" /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#/contact">Contact-Us</a></li>
              <li><a href="#/houses-sale">For Sale Houses</a></li>
              <li><a href="#/houses-rent">For Rent Houses</a></li>
              <li><a href="#/all-houses" ng-if="GlobalState">All Houses</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#/manager"><span class="file-input btn btn-block btn-default btn-file">Manage-Website</span></a></li>
              <li><a href="#/logout" ng-if="GlobalState"><span class="file-input btn btn-block btn-warning btn-file">Log-Out</span></a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
      </a>
    </div>
    <div class="jumbotron">
      <div ng-view></div>
      <div id="footer" ng-controller="ManagerController as mc">
        <hr class="style18">
        <hr>
        <div class="row">
          <div class="col-md-3"><span class="glyphicon glyphicon-earphone"></span>: {{mc.comapany.phone_number}}</div>
          <div class="col-md-3"><span class="glyphicon glyphicon-envelope"></span>: {{mc.comapany.email}}</div>
        </div>
      </div>
    </div>
</body>

<!-- AIzaSyBnJHD0ndP83_7TJk1cOQbipqoN8W6Wksc-->
<script src="jquery/dist/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="angular/angular.js"></script>
<script src="angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="angular-route/angular-route.min.js"></script>
<script src="slick-carousel/slick/slick.js"></script>
<script src="angular-slick/dist/slick.js"></script>
<script src="angular-toastr/dist/angular-toastr.tpls.js"></script>

<script src='lodash/dist/lodash.min.js'></script>
<script src='angular-simple-logger/dist/angular-simple-logger.min.js'></script>
<script src='angular-google-maps/dist/angular-google-maps.min.js'></script>
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<script src='angular-google-maps-geocoder/dist/angular-google-maps-geocoder.min.js'></script>

<script src="jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<script src="jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<script src="jQuery-File-Upload/js/jquery.fileupload.js"></script>

<script src="modules/housing/module.js"></script>
<script src="modules/housing/service/ManagerService.js"></script>
<script src="modules/housing/service/HousingService.js"></script>

<script src="modules/housing/controller/ManagerController.js"></script>
<script src="modules/housing/controller/HousingController.js"></script>
<script src="modules/housing/directive/file-upload-modal.js"></script>
<script src="app.js"></script>

</html>
