<div class="jumbotron">

  <h3>Hello, Who are we ?</h3>
  <p>What do we do ? you asked ?
     we find houses we get the best houses that
     are for renting or for selling and we provide
      it for you, whe have the best houses that you
       can find and we are doing it for the sake of
       helping people. This website will provide
    you with the best service that you can find online </p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">Know more</a></p>
</div>
