<div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
      <button type="button" class="btn btn-success btn-lg" ng-click="hc.adminSearchModal()">Advanced Search</button>
    </div>
  </div>
  <div class="row singleHouseContainer" ng-repeat="house in hc.houses">
    <a href="#/house/{{house.id}}">
      <div class="col-md-5" id="infoContainer">
        <label class="control-label">Title: </label>
        <p>{{house.title}}</p>
        <label class="control-label">Location: </label>
        <p>{{house.location}}</p>
      </div>
      <div class="col-md-5" id="infoContainer">
        <label class="control-label">Description: </label>
        <p>{{house.description}}</p>
        <label class="control-label">Price: </label>
        <p>{{house.price | currency }}</p>
      </div>
    </a>
    <div class="col-md-2" id="managerBtns" ng-if="GlobalState">
      <a href="#/house-edit/{{house.id}}">
        <span class="btn btn-warning">Edit house</span>
      </a>
      <span class="btn btn-danger" ng-click="hc.deleteHouse(house.id)">Delete House</span>
    </div>
  </div>
</div>
