<div class="row">
  <div class="col-md-5">
      <label class="control-label">Phone Nr: </label><p>{{mc.comapany.phone_number}}</p>
      <label class="control-label">Company name: </label><p>{{mc.comapany.name}}</p>
      <label class="control-label">Email: </label><p>{{mc.comapany.email}}</p>
      <label class="control-label">Facebook: </label><p>{{mc.comapany.facebook}}</p>
  </div>
  <div class="col-md-7">
    <div id="houseMap" class="formHeader">
      <ui-gmap-google-map center='mc.map.center' zoom='14'>
        <ui-gmap-marker coords="mc.map.coords" icon="icon" idkey="mc.map.id"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
