<script type="text/javascript">
  $(document).ready(setTimeout(function() {
    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider'
    });
    $('.slider').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      dots: true,
      centerMode: true,
      focusOnSelect: true
    });

  }, 500));
</script>
<div class="row">
  <!-- {{hc.house.pictures[1]}}
<img ng-src="{{hc.house.id}}/{{hc.house.pictures[1][0]}}" width="1200" height="300" /> -->
    <div class="slider-for">
      <div class="slideImage"><img ng-src="{{hc.house.id}}/main/{{hc.house.pictures[0][0]}}" width="1200" height="400" /></div>
      <div class="slideImage" ng-repeat="image in hc.house.pictures[1]" ng-if="image != null"><img ng-src="{{hc.house.id}}/{{image}}" width="1200" height="400" /></div>
    </div>
    <div class="slider">
      <div class="slideImage"><img ng-src="{{hc.house.id}}/main/{{hc.house.pictures[0][0]}}" width="300" height="200" /></div>
      <div class="slideImage" ng-repeat="image in hc.house.pictures[1]"  ng-if="image != null" ><img ng-src="{{hc.house.id}}/{{image}}" width="300" height="200" /></div>
    </div>


</div>
<!-- <div class="slider">
  <div class="slideImage" ng-repeat="image in hc.house.pictures"><img ng-src="{{image.picture_url}}" height="500" width="400" /></div>
</div> -->
<div class="row">
  <div class="col-md-7">
    <div class="price-tag">Price: {{hc.house.price | currency }}</div>
    <div id="infContainer">
      <label class="control-label">Location:</label>
      <p>{{hc.house.location}}</p>
      <label class="control-label">Surface:</label>
      <p>{{hc.house.surface}}(m2)</p>
      <label class="control-label">Rooms:</label>
      <p>{{hc.house.rooms}}</p>
      <label class="control-label">Reference Number:</label>
      <p>{{hc.house.id}}</p>
      <label class="control-label">Description:</label>
      <p>{{hc.house.description}}</p>
      <label class="control-label">Date Added:</label>
      <p>{{hc.house.date | limitTo : 10}}</p>
    </div>
  </div>
  <div class="col-md-5">
    <div id="houseMap" class="formHeader">
      <ui-gmap-google-map center='hc.map.center' zoom='10' bounds="hc.map.bounds" events="hc.map.events">
        <ui-gmap-marker ng-if="hc.house.map_location" coords="hc.location.coords" icon="icon" idkey="hc.location.id"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
