<div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
      <button type="button" class="btn btn-success btn-lg" ng-click="hc.openSearchModal()">Advanced Search</button>
    </div>
  </div>
  <div class="row" ng-repeat="house in hc.houses" ng-if="house.offer_type == 'sale'"><a href="#/house/{{house.id}}">
    <div class="col-md-4 houseContainer"><img ng-src="{{house.id}}/main/{{house.pictures[0]}}" width="300px" height="250px" class="singleLink"/></div>
    <div class="col-md-5" id="infoContainer">
      <label class="control-label">Price: </label>
      <p>{{house.price | currency }}</p>
      <label class="control-label">Location: </label>
      <p>{{house.location}}</p>
      <label class="control-label">Description: </label>
      <p>{{house.description}}</p>
    </div>
  </a>
    <div class="col-md-2" id="managerBtns" ng-if="GlobalState"><a  href="#/house-edit/{{house.id}}"><span class="btn btn-warning">Edit house</span></a><span class="btn btn-danger" ng-click="hc.deleteHouse(house.id)">Delete House</span></div>
  </div>
</div>
