<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <div id="uploader" class="formHeader">
        <form method='post' action='/upload' enctype="multipart/form-data">
          <h4>Select house Pics:</h4>
          <span class="file-input btn btn-block btn-success btn-file">
                Select Pictures <input type="file" multiple accept="image/*" file-model = "hc.files">
            </span>
          <div id="imgContainer">
            <div ng-if="hc.files.length > 0"><img  ng-repeat="file in hc.files" src="{{file.url}}" width="100" height="100" /></div>
            <div ng-if="hc.files.length <= 0"><img  class="singleImageContainer" ng-repeat="image in hc.house.pictures" ng-src="{{hc.house.id +'/' + image}}" width="100" height="100" ng-click="hc.openDeleteModal(hc.house.id, image)"/></div>
          </div>
          <!-- <div ng-repeat="file in hc.house.pictures">{{$index}}</div> -->
          <!-- <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/upload"> -->
          <span class="file-input btn btn-block btn-success btn-file" ng-click="hc.files = {}">Clear List</span>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div id="mapContainer" class="formHeader">
        <h4>Select The house location</h4>
        <ui-gmap-google-map center='hc.map.center' zoom='hc.map.zoom' bounds="hc.map.bounds" events="hc.map.events">
          <ui-gmap-marker ng-if="hc.map.markers[0]" coords="hc.map.markers[0].coords" icon="icon" idkey="hc.map.markers[0].id"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>
<h2>House specifications</h2>
<div id="insertForm">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Location:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Location" ng-model="hc.house.location">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Offer type:</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="hc.house.offer_type">
          <option value="Sell">For Sell</option>
          <option value="Rent">For Rent</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">House type:</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="hc.house.house_type">
          <option value="Appertment">Appartment</option>
          <option value="Villa">Villa</option>
          <option value="Villa Appertment">Villa Appartment</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Price(dt):</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Price" ng-model="hc.house.price">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Rooms</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Price" ng-model="hc.house.rooms">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Surface(m2):</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Surface" ng-model="hc.house.surface">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" ng-model="hc.house.desc"></textarea>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <button type="button" class="btn btn-danger">Cancel</button>
    <button type="button" class="btn btn-success" ng-click="hc.updateHouse(hc.house)">Save</button>
  </div>
</div>
