<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <!--Main house Picture. The front picture -->
      <div id="uploader" class="formHeader">
        <form method='post' action='/upload' enctype="multipart/form-data">
          <h4>Select house main picture:</h4>
          <span class="file-input btn btn-block btn-success btn-file">
                Select Picture <input type="file" accept="image/*" file-model = "hc.files.main">
            </span>
          <div id="mainImgContainer"><img ng-repeat="file in hc.files.main" src="{{file.url}}" width="200" height="200" /></div>
          <span class="file-input btn btn-block btn-success btn-file" ng-click="hc.files.main = {}">Delete picture</span>
        </form>
      </div>

      <!-- <pre>{{ hc.out | json }}</pre> -->
      <!--Multi house pictures -->

      <div id="uploader" class="formHeader">
        <form method='post' action='/upload' enctype="multipart/form-data">
          <h4>Select house Pics:</h4>
          <span class="file-input btn btn-block btn-success btn-file">
                Select Pictures <input type="file" multiple accept="image/*" file-model = "hc.files.category">
            </span>
          <div id="imgContainer"><img class="categoryImage" ng-repeat="file in hc.files.category" src="{{file.url}}" width="100" height="100" />
            <div ng-repeat="file in hc.files.category" class="categoryImgDelete">s</div>
          </div>
          <span class="file-input btn btn-block btn-success btn-file" ng-click="hc.files.category = {}">Clear List</span>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div id="mapContainer" class="formHeader">
        <h4>Select The house location</h4>
        <ui-gmap-google-map center='hc.map.center' zoom='hc.map.zoom' bounds="hc.map.bounds" events="hc.map.events">
          <ui-gmap-marker ng-if="hc.map.markers[0]" coords="hc.map.markers[0].coords" icon="icon" idkey="hc.map.markers[0].id"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>
<h2>House specifications</h2>
<div id="insertForm">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Title:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="Title" ng-model="hc.house.title">
      </div>

      <label class="col-sm-1 control-label">Location:</label>
      <div class="col-sm-2">
        <!-- https://maps.googleapis.com/maps/api/geocode/json?address=sousse -->
        <select class="form-control" ng-model="hc.house.location" ng-change="hc.lookingEye(hc.house.location)">
          <option value="Tunis center">Tunis</option>
          <option value="Ariana">Ariana</option>
          <option value="Ben Arous">Ben Arous</option>
          <option value="Manouba">Manouba</option>
          <option value="Nabeul">Nabeul</option>
          <option value="Zaghouan">Zaghouan</option>
          <option value="Bizerte">Bizerte</option>
          <option value="Beja">Beja</option>
          <option value="Jendouba">Jendouba</option>
          <option value="Kef">Kef</option>
          <option value="Siliana">Siliana</option>
          <option value="Sousse">Sousse</option>
          <option value="Monastir">Monastir</option>
          <option value="Mahdia">Mahdia</option>
          <option value="Sfax">Sfax</option>
          <option value="Kairouan">Kairouan</option>
          <option value="Kasserine">Kasserine</option>
          <option value="Sidi Bouzid">Sidi Bouzid</option>
          <option value="Gabes">Gabes</option>
          <option value="Mednine">Mednine</option>
          <option value="Tataouine">Tataouine</option>
          <option value="Gafsa">Gafsa</option>
          <option value="Tozeur">Tozeur</option>
          <option value="Kebili">Kebili</option>
        </select>
      </div>
      <div ng-if="hc.house.location">
        <label class="col-sm-1 control-label">Adress:</label>
        <div class="col-sm-3 input-group">
          <input type="text" class="form-control" placeholder="Street Name" ng-model="hc.house.adress">
          <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="hc.checkAdress(hc.house.location ,hc.house.adress)">
          <span class="glyphicon glyphicon-zoom-in">
          </span>
          </button>
          <button class="btn btn-danger" type="button">
            <span class="glyphicon glyphicon-remove"  ng-click="hc.house.adress = ''">
          </span>
          </button>
        </div>
      </div>
      <div ng-if="!hc.house.location">
        <label class="col-sm-1 control-label">Adress:</label>
          <div class="col-sm-3 input-group">
            <input type="text" class="form-control" placeholder="Location first" ng-model="hc.house.adress" disabled>
            <span class="input-group-btn">
        <button class="btn btn-primary" type="button">
          <span class="glyphicon glyphicon-zoom-in">
          </span>
            </button>
            <button class="btn btn-danger" type="button">
              <span class="glyphicon glyphicon-remove">
          </span>
            </button>
          </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Offer type:</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="hc.house.offerType">
          <option value="sale">For Sale</option>
          <option value="rent">For Rent</option>
        </select>
      </div>
      <label class="col-sm-2 control-label">House type:</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="hc.house.houseType">
          <option value="Appertment">Appartment</option>
          <option value="Villa">Villa</option>
          <option value="Villa Appertment">Villa Appartment</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Price(dt):</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="Price" ng-model="hc.house.price">
      </div>
      <label class="col-sm-2 control-label">Rooms</label>
      <div class="col-sm-2">
        <select class="form-control" ng-model="hc.house.rooms">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <label class="col-sm-2 control-label">Surface(m2):</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="Surface" ng-model="hc.house.surface">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" ng-model="hc.house.desc"></textarea>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <a href="#/">
      <button type="button" class="btn btn-danger">Cancel</button>
    </a>
    <button type="button" class="btn btn-success" ng-click="hc.addHouse(hc.house)">Save</button>
  </div>
</div>
