<!-- http://code.runnable.com/UTlPPF-f2W1TAAEY/login-auth-using-sessions-in-express-for-node-js-and-authentication -->

<div ng-if="mc.loginError == true" class="alert alert-danger">
  <form class="form-horizontal">


      <div class="form-group">
        <strong>Error : </strong>
        Wrong username or password, Please Try Again !
      </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Username" ng-model="mc.user.username">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" placeholder="Password" ng-model="mc.user.password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success" ng-click="mc.authenticate(mc.user)">Sign in</button>
      </div>
    </div>
  </form>
</div>

<div ng-if="mc.loginError == false">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Username" ng-model="mc.user.username">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" placeholder="Password" ng-model="mc.user.password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success" ng-click="mc.authenticate(mc.user)">Sign in</button>
      </div>
    </div>
  </form>
</div>
