body {
  background-color: #cccccc;
}
body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}

.toast-top-right {
  top: 0;
  right: -40%;
  width: 100%;
}
.toast-success {
  background-color: #224422;
}
.toast-error {
  background-color: black;
}
/*#DescContainer{
  width: 50%;
  padding: 40px;
}*/
.errorMessage{
  color:red;
}
.singleHouseContainer {
    border-bottom: 1px solid black;
}
#logo {
  margin-top: -20px;
}
#uploader {
  width: 100%;
  float: left;
}
.singleLink {
  box-shadow: 0  4px 9px 0 grey, 0  4px 20px 0 grey ;
  border-radius: 4px;
}
.singleImageContainer {
  margin: 5px;
  /*padding: 5px;*/
}
.singleImageContainer: hover {
  background-color: red;
  cursor: pointer;
  width: 400px;
}
.categoryImage {
  margin : 5px;
}
.categoryImgDelete {
    width: 10px;
    height: 10px;
    color:red;
}
#mapContainer {
  width: 100%;
}
#houseMap {
  width: 100%
}
.formHeader {
  display: inline-block;
}
.angular-google-map-container {
  height: 400px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
#insertForm {
  margin-top: 60px;
  width: 80%
}
.houseContainer {
  margin-top: 20px;
}
#infoContainer, #managerBtns {
  margin-top: 60px;
}
#footerBtns {
  margin-top: 60px;
  margin-left: 80%;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
#mainImgContainer{
text-align: center;
margin: 10px;
}
#imgContainer {
text-align: center;
margin: 10px;
}
#OffersContainer {
  margin-top: 40px;
  padding: 40px;
}
#boxFooter {
  margin-top: 50px;
}
#infContainer {
  margin-top: 30px;
}
hr.style18 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
.price-tag {
  display: inline-block;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  color: #fff;
  background-color: #bf1919;
  text-shadow: 1px 1px 1px #921313;
  font-weight: bold;
  font-size: 1.1em;
  text-indent: -6px;
  position: relative;
  -moz-transform-origin: 88% 10%;
  -ms-transform-origin: 88% 10%;
  -webkit-transform-origin: 88% 10%;
  transform-origin: 88% 10%;
}
.price-tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #bf1919;
}
.price-tag::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 88%;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #cecece;
  box-shadow: inset -1px 1px 0 #8e8e8e;
}

/* Build the price tag animation */


/*
 * TODO: Model the animation after a dampened harmonic oscillator.
 * Right now it isn't too realistic.
 */

@-webkit-keyframes price-tag-swing {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20% {
    -moz-transform: rotate(-110deg);
    -ms-transform: rotate(-110deg);
    -webkit-transform: rotate(-110deg);
    transform: rotate(-110deg);
  }
  50% {
    -moz-transform: rotate(-64deg);
    -ms-transform: rotate(-64deg);
    -webkit-transform: rotate(-64deg);
    transform: rotate(-64deg);
  }
  70% {
    -moz-transform: rotate(-96deg);
    -ms-transform: rotate(-96deg);
    -webkit-transform: rotate(-96deg);
    transform: rotate(-96deg);
  }
  85% {
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
  100% {
    -moz-transform: rotate(-88deg);
    -ms-transform: rotate(-88deg);
    -webkit-transform: rotate(-88deg);
    transform: rotate(-88deg);
  }
}
.price-tag[data-animate="true"] {
  -webkit-animation: price-tag-swing 8s infinite;
}
