<div class="jumbotron" ng-controller="HousingController as hc">

  <h3>Hello, Who are we ?</h3>
  <p>What do we do ? you asked ? we find houses we get the best houses that are for renting or for selling and we provide it for you, whe have the best houses that you can find and we are doing it for the sake of helping people. This website will provide
    you with the best service that you can find online </p>

  <p><a class="btn btn-primary btn-lg" href="#/contact" role="button">Know more</a></p>


  <div id="OffersContainer">
    <h3>Recently added offers:</h3>

    <div class="row">

      <div ng-repeat="house in hc.houses | limitTo:6 | orderBy:house.date" class="col-md-4">
        <a href="#/house/{{house.id}}"><img ng-src="{{house.id}}/main/{{house.pictures[0]}}" width="250px" height="200px" class="singleLink"/></a>
        <!-- <img src="1/main/12801464_1260909893926457_3377634028668903440_n.jpg" /> -->
        <div id="descriptionBox">
          Price: {{house.price}}
          <br> Location: {{house.location}}
          <br> Description: {{house.description}}
        </div>
      </div>

    </div>
    <div class="row" id="boxFooter">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <a href="#/home"<span class="file-input btn btn-block btn-primary btn-file">Seatch For more</span></a>
      </div>
    </div>
  </div>
</div>
