<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" ng-click="$dismiss()">&times;</span>
    </button>
    <h5>Confirmation box</h5>
  </div>
  <div class="modal-body">
    <h4>Are you sure you want to delete the selected picture ?!</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    <button type="button" class="btn btn-default" ng-click="$close();">ok</button>
  </div>
</div>
