<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" ng-click="$dismiss()">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">location:</label>
        <div class="col-sm-4">
        <select class="form-control" ng-model="hc.search.location">
          <option value="Tunis">Tunis</option><option value="Ariana">Ariana</option><option value="Ben Arous">Ben Arous</option>
          <option value="Manouba">Manouba</option><option value="Nabeul">Nabeul</option><option value="Zaghouan">Zaghouan</option>
          <option value="Bizerte">Bizerte</option><option value="Beja">Bja</option><option value="Jendouba">Jendouba</option>
          <option value="Kef">Kef</option><option value="Siliana">Siliana</option><option value="Sousse">Sousse</option>
          <option value="Monastir">Monastir</option><option value="Mahdia">Mahdia</option><option value="Sfax">Sfax</option>
          <option value="Kairouan">Kairouan</option><option value="Kasserine">Kasserine</option><option value="Sidi Bouzid">Sidi Bouzid</option>
          <option value="Gabes">Gabes</option><option value="Mednine">Mednine</option><option value="Tataouine">Tataouine</option>
          <option value="Gafsa">Gafsa</option><option value="Tozeur">Tozeur</option><option value="Kebili">Kebili</option>
        </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">House type:</label>
        <div class="col-sm-4">
          <select class="form-control" ng-model="hc.search.house_type">
            <option value="Appertment">Appartment</option>
            <option value="Villa">Villa</option>
            <option value="Villa Appertment">Villa Appartment</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Minimum Price(dt):</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Min" ng-model="hc.search.priceMin">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Maximum Price(dt):</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Max" ng-model="hc.search.priceMax">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Rooms :</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Rooms" ng-model="hc.search.rooms">
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    <button type="button" class="btn btn-default" ng-click="$close(hc.search);">ok</button>
  </div>
</div>
